# ===== data (do not commit) =====
data/raw/
data/interim/
data/processed/

# ===== outputs (do not commit, allow final if you want) =====
outputs/

# notebooks & models (runtime artifacts)
/notebooks/
/models/

# tmp
tmp/
*.log

# python
__pycache__/
*.pyc

# jupyter
.ipynb_checkpoints/
